{% extends "layout.html" %}
{% block content %}
{{super()}}
 <br>  <a href="{{ url_for('s_g_smez.show_s_g_s') }}">  s g s</a>

 <br>  <a href="{{ url_for('deletemez.show_delete') }}">  delete</a>

 <br>  <a href="{{ url_for('notmez.show_not') }}">  not</a>

 <br>  <a href="{{ url_for('meowmez.show_meow') }}">  meow</a>

 <br>  <a href="{{ url_for('requestsmez.show_requests') }}">  requests</a>

 <br>  <a href="{{ url_for('ormez.show_or') }}">  or</a>

 <br>  <a href="{{ url_for('headermez.show_header') }}">  header</a>

 <br>  <a href="{{ url_for('inmez.show_in') }}">  in</a>

 <br>  <a href="{{ url_for('stringsmez.show_strings') }}">  strings</a>

 <br>  <a href="{{ url_for('raisemez.show_raise') }}">  raise</a>

 <br>  <a href="{{ url_for('REQUESTSmez.show_REQUESTS') }}">  REQUESTS</a>

 <br>  <a href="{{ url_for('if_sdfsdfmez.show_if_sdfsdf') }}">  if-sdfsdf</a>

 <br>  <a href="{{ url_for('whilemez.show_while') }}">  while</a>

 <br>  <a href="{{ url_for('printmez.show_print') }}">  print</a>

 <br>  <a href="{{ url_for('exceptmez.show_except') }}">  except</a>

 <br>  <a href="{{ url_for('famez.show_fa') }}">  fa</a>

 <br>  <a href="{{ url_for('lambdamez.show_lambda') }}">  lambda</a>

 <br>  <a href="{{ url_for('not_headermez.show_not_header') }}">  not_header</a>

 <br>  <a href="{{ url_for('meme_ssmez.show_meme_ss') }}">  meme-ss</a>

 <br>  <a href="{{ url_for('finallymez.show_finally') }}">  finally</a>

 <br>  <a href="{{ url_for('else_statementmez.show_else_statement') }}">  else statement</a>

 <br>  <a href="{{ url_for('ad_hocmez.show_ad_hoc') }}">  ad hoc</a>

 <br>  <a href="{{ url_for('listmez.show_list') }}">  list</a>

 <br>  <a href="{{ url_for('classmez.show_class') }}">  class</a>

 <br>  <a href="{{ url_for('del_fdsdfdsfmez.show_del_fdsdfdsf') }}">  del fdsdfdsf</a>

 <br>  <a href="{{ url_for('passmez.show_pass') }}">  pass</a>

 <br>  <a href="{{ url_for('return_omez.show_return_o') }}">  return-o</a>

 <br>  <a href="{{ url_for('__init__mez.show___init__') }}">  __init__</a>

 <br>  <a href="{{ url_for('breakmez.show_break') }}">  break</a>

 <br>  <a href="{{ url_for('frommez.show_from') }}">  from</a>

 <br>  <a href="{{ url_for('ismez.show_is') }}">  is</a>

 <br>  <a href="{{ url_for('sdfsdf_mez.show_sdfsdf_') }}">  sdfsdf-</a>

 <br>  <a href="{{ url_for('execmez.show_exec') }}">  exec</a>

 <br>  <a href="{{ url_for('asmez.show_as') }}">  as</a>

 <br>  <a href="{{ url_for('trymez.show_try') }}">  try</a>

 <br>  <a href="{{ url_for('returnmez.show_return') }}">  return</a>

 <br>  <a href="{{ url_for('continuemez.show_continue') }}">  continue</a>

 <br>  <a href="{{ url_for('andmez.show_and') }}">  and</a>

 <br>  <a href="{{ url_for('flask_loginmez.show_flask_login') }}">  flask_login</a>

 <br>  <a href="{{ url_for('elif_ssssmez.show_elif_ssss') }}">  elif ssss</a>

 <br>  <a href="{{ url_for('withmez.show_with') }}">  with</a>

 <br>  <a href="{{ url_for('globalmez.show_global') }}">  global</a>

 <br>  <a href="{{ url_for('importmez.show_import') }}">  import</a>

 <br>  <a href="{{ url_for('requestmez.show_request') }}">  request</a>

 <br>  <a href="{{ url_for('yieldmez.show_yield') }}">  yield</a>

 <br>  <a href="{{ url_for('Flaskmez.show_Flask') }}">  Flask</a>

 <br>  <a href="{{ url_for('assertmez.show_assert') }}">  assert</a>

 <br>  <a href="{{ url_for('formez.show_for') }}">  for</a>

 <br>  <a href="{{ url_for('defmez.show_def') }}">  def</a>
{{message2}}
{% endblock %}